.move-container {
    .quiz-area {
        display: flex;
        justify-content: center;

        > div {
            display: flex;
            align-items: center;
            flex-direction: column;
            .title {
                cursor: pointer;
                text-align: center;
                &:hover {
                    color: white;
                }
            }
        
            .board-area {
                position: relative;
                width: 50vh;
                height: 50vh;

                .board-mask {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    z-index: 10;
                    pointer-events: none;
                    
                    &.success {
                        background-color: green;
                    }

                    &.failure {
                        background-color: red;
                    }
                }
            }
        }        
    }

    .selection-dialog {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .9);
        overflow-y: scroll;
        padding-left: 33%;
        padding-right: 33%;

        .table-container {
            flex-basis: 3;
            .search-bar {
                width: 100%;
            }
    
            table {
                text-align: center;
            }
        }

        .preset-container {
            flex-basis: 1;
            li {
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }
}