.openings {
    .title {
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .board-area {
        width: 50vh;
        height: 50vh;
    }

    .selection-dialog {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .9);
        overflow-y: scroll;
        padding-left: 33%;
        padding-right: 33%;

        input {
            width: 100%;
        }

        table {
            text-align: center;
        }
    }
}